* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(pexels-photo-297642.jpeg);
  background-position: center;
}
