* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url(pexels-photo-297642.jpeg);
  background-position: center;
  background-size: cover;
}
